<div class="Sticky">
  <div class="footer">
    <div class="footer__button-container">
      <button mat-fab color="secondary" class="footer__button-container__fab">
        <mat-icon class="footer__button-container__icon">person</mat-icon>
      </button>
    </div>
    <div class="footer__button-container">
      <button
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        mat-fab
        color="primary" class="footer__button-container__fab"
      >
        <mat-icon class="footer__button-container__icon"> add </mat-icon>
      </button>
    </div>
    <div class="footer__button-container">
      <button
        mat-fab
        color="secondary"
        class="footer__button-container__fab"
      >
        <mat-icon class="footer__button-container__icon">home</mat-icon>
      </button>
    </div>
  </div>
</div>
