*{
  font-family: roboto, sans-serif;
}


h1,
h2,
h3,
h4,
h5,
p {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: roboto, sans-serif;
  margin: 20px 0;
  line-height: 1.2em;
}

h1,
h2 {
  font-weight: 600;
}

p {
  font-weight: 300;
}


.links{

  font-weight: 200;
  text-decoration: none;
  color: rgb(95, 95, 95);
  transition: 1s;

  &:hover{
    color: black;
    transition: 1s;
  }
}
