<div class="center-item">
  <h1>Login</h1>

  <form (submit)="login()" [formGroup]="loginForm" autocomplete="off">
    <input type="text" placeholder="Enter Email" formControlName="email" />

    <input
      type="password"
      placeholder="Enter password"
      formControlName="password"
    />

    <mat-checkbox
      formControlName="remember"
      color="primary"
      style="margin-top: 30px"
      >Remember me</mat-checkbox
    >

    <button
      style="margin-top: 25px"
      type="submit"
      mat-flat-button
      color="primary"
    >
      Login
    </button>
    <p>
      Not Registered ?<a class="links" [routerLink]="['/register']"
        >Create account Now!</a
      >
    </p>
  </form>
</div>
