
.center-item {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;


  @include small{
  form, select, .mat-form-field {
    width: 100%;

  }}



@include medium{
  .center-item {
    form, select {
      width: 70%;
    }
  }
}

@include large{
  .center-item {
    form, select, .mat-form-field{
      width: 70%;
      padding: 25px;

      p {
        font-size: 14px;
      }
    }
  }
}
}
