<div class="center-item">
  <h1>Create a account</h1>
  <form (ngSubmit)="createUser()" autocomplete="off" [formGroup]="registerForm">
    <div>
      <h3>User Info</h3>
      <input
        autocomplete="off"
        type="text"
        placeholder="Enter username"
        formControlName="name"
      />
      <input
        autocomplete="off"
        type="text"
        placeholder="Enter subnames"
        formControlName="subname"
      />
      <input
        autocomplete="off"
        type="text"
        placeholder="Enter DNI"
        formControlName="DNI"
      />
      <input
        autocomplete="off"
        type="password"
        placeholder="Enter password"
        formControlName="password"
      />
      <input
        autocomplete="off"
        type="password"
        placeholder="Enter password"
        formControlName="password2"
      />
      <input
        autocomplete="off"
        type="number"
        placeholder="Enter phone"
        formControlName="phone"
      />
      <input
        autocomplete="off"
        type="text"
        placeholder="Enter email"
        formControlName="email"
      />
      <mat-form-field style="width: 100%; margin-top: 25px" appearance="fill">
        <mat-label>Role</mat-label>
        <select
          color="primary"
          formControlName="role"
          matNativeControl
          required
        >
          <option value="Renter">I want to be a renter</option>
          <option value="User">I want to rent</option>
        </select>
      </mat-form-field>
    </div>

    <br />
    <br />
    <div>
      <h3>Address Info</h3>
      <input
        type="text"
        placeholder="Enter country"
        formControlName="country"
      />
      <input type="text" placeholder="Enter city" formControlName="city" />
      <input type="text" placeholder="Enter CP" formControlName="CP" />
      <input type="text" placeholder="Enter street" formControlName="street" />
      <input
        type="number"
        placeholder="Enter number"
        formControlName="number"
      />
      <input
        type="text"
        placeholder="Enter aditional info"
        formControlName="moreInfo"
      />
    </div>

    <mat-checkbox
      style="margin-top: 25px"
      color="primary"
      formControlName="terms"
      >Accept the terms and condition</mat-checkbox
    >

    <div class="center-item">
      <p class="danger" *ngIf="noValidInputForm('name')">Name is require</p>
      <p class="danger" *ngIf="noValidInputForm('subname')">
        Subname is require
      </p>
      <p class="danger" *ngIf="noValidInputForm('DNI')">Invalid DNI</p>
      <p class="danger" *ngIf="noValidInputForm('password')">
        Password require +8 characters
      </p>
      <p class="danger" *ngIf="noValidInputForm('password2')">
        Rewrite the password
      </p>
      <p class="danger" *ngIf="equalPasswords()">Passwords are not the same</p>
      <p class="danger" *ngIf="noValidInputForm('phone')">Phone is require</p>
      <p class="danger" *ngIf="noValidInputForm('email')">
        Invalid Email, try again
      </p>
      <p class="danger" *ngIf="noValidInputForm('country')">Select a Role</p>
      <p class="danger" *ngIf="noValidInputForm('city')">City is require</p>
      <p class="danger" *ngIf="noValidInputForm('CP')">CP is require</p>
      <p class="danger" *ngIf="noValidInputForm('Street')">Street is require</p>
      <p class="danger" *ngIf="noValidInputForm('number')">number is require</p>

      <p class="danger" *ngIf="acceptTerms()">
        You need to accept the terms and conditions
      </p>
    </div>

    <button
      style="margin-top: 25px"
      (click)="createUser()"
      type="button"
      mat-flat-button
      color="primary"
    >
      Register
    </button>
    <p>
      You have a account?<a class="links" [routerLink]="['/login']"
        >Login Now!</a
      >
    </p>
  </form>
</div>
