
<mat-sidenav-container >
  <mat-sidenav  class="side-bar" #sidenav mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]="82" *ngIf="showMenu" mat-disable-backdrop #start >
      <mat-nav-list>
          <a mat-list-item routerLink="/">
              <span> Home </span>
          </a>
          <a mat-list-item routerLink="/profile">
              <span> Profile </span>
          </a>
          <a mat-list-item routerLink="/entries">
              <span> Rentals </span>
          </a>
           </mat-nav-list>



  </mat-sidenav>

</mat-sidenav-container>
