
.btn-fix1
{display: none!important}

@include medium{
.container{
position: relative;
width: 100%;
}


.btn-fix1
{display: block!important}


.mat-fab{
  right: 30px;
  bottom: 30px;
  position: fixed !important;
}

}
