
form {
  width: 40%;
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, .05);
  padding: 40px;
  background-color: #fff;

  input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: #ecf0f1;
    padding: 10px;
    line-height: 2;
    font-size: 16px;
  }

  button {
    background-color: #184ee4;
    color: white;
    font-size: 18px;
    width: 100%;
    outline: none;
    border: none;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      background-color: #184ee4;
    }

  }

  p {
    text-align: center;
    margin-bottom: 0px;

    a {
      text-align: center;
      text-decoration: none;
      color: #184ee4;
      padding-left: 3px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

