.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding:  10px ;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 1px 21px 49px -10px rgba(0,0,0,0.25);
box-shadow: 1px 21px 49px -10px rgba(0,0,0,0.09);

  &__profile {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 10px 0 0 ;

    &-photo {

      width: 50px;
      height: auto;
      clip-path: circle();
      transition: 0.5s;

      &:hover{
        width: 70px;
      height: auto;
      transition: 0.5s;
      cursor: pointer;

      }
    }
  }
}




@include medium {
  .nav {
    justify-content: start;
    position: fixed!important;
    width: 100%;
    padding:  10px 5px ;

    &__profile {
      p{
        font-size: 16px;
      }


  }}}



