//MOBILE FOOTER

.footer {
  position: fixed;
  bottom: -1px;

  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  -webkit-box-shadow: 0px -9px 30px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px -6px 30px 1px rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.95);

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__fab {

      &:hover {
        cursor: pointer;
      }
    }
  }

  @include medium {
    display: none;
  }
}

// POSITION BOTTOM
