<app-header (menuState)='burgerClicked($event)'></app-header>
<app-sidebar [subMenuState]="subMenuState" ></app-sidebar>

    <img
      width="300px"
      src="https://images.unsplash.com/photo-1593642532400-2682810df593?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
      alt=""
    />
    <img
      width="300px"
      src="https://images.unsplash.com/photo-1593642532400-2682810df593?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
      alt=""
    />
    <img
      width="300px"
      src="https://images.unsplash.com/photo-1593642532400-2682810df593?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
      alt=""
    />
    <button class="btn-fix1" mat-fab color="primary">
    <mat-icon> add </mat-icon>
  </button>


<app-footer></app-footer>
<app-tab-bar class="sticky"></app-tab-bar>

<!--   LOADERw
  <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
-->
