
<div class="main">
  <div  class="container">
    <img  width="100%" src="assets/1.png" alt="">
        <h2>UH OH! You're lost.</h2>
        <p>The page you are looking for does not exist.
          How you got here is a mystery. But you can click the button below
          to go back to the homepage.
        </p>
        <button mat-flat-button color="primary" [routerLink]="['/']">Back to Home</button>

      </div>


  </div>

