<nav class="nav">
  <div class="nav__icons">
    <button class="hide-small" mat-icon-button color="primary" (click)="toggleMenu()" >
      <mat-icon  class="nav__icons-icon hide-small">menu</mat-icon>
    </button>
    <button mat-icon-button color="primary" >
      <mat-icon class="nav__icons-icon">search</mat-icon>
    </button>
  </div>

  <div class="nav__profile">
    <img [routerLink]="['/profile']"
      class="nav__profile-photo"
      src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80"
      alt=""
    />
    <a class="links" [routerLink]="['/profile']"><p>Nombre User</p></a>
  </div>
</nav>

